/* Google Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800&display=swap');

 /* Common CSS  */

html{
    font-size: 62.5%;
    /* from now 1 rem = 10 px  */
}

body{
    font-family: 'Sora', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
    padding:0 15px;
}

.text{
    font-size: 1.8rem;
    color: #525252;
    line-height: 2.8rem;
    margin: 25px 0;
}

.title{
    font-weight: 600;
    font-size: 3.6rem;
    line-height: 4.5rem;
}

.btn{
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: #ffff;
    background-color: #EC4B74;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.btn:hover{
    background-color: #FFAC2C;
}

section{
    padding: 100px 0;
}

/* Main CSS Start  */

/* Hero section start  */
.hero-content{
    display: flex;
    justify-content: space-between;
}
.hero{
    background: url(../images/header-bg.png) no-repeat center;
    background-size: cover;
}

.hero-text{
    width: 50%;
    padding-right: 70px;
    margin-top: 150px;
}
.hero-text h1 span{
    display:block;
    font-weight: 900;
    font-size: 4.2rem;
    color: #EC4B74;
}

.hero-image img{
    width: 100%;
    max-width: 500px;
}

/* Biography start  */

.Biography{
    background: url(../images/biography-bg.png) no-repeat center;
    background-size: cover;
}

.Biography-text{
    width: 50%;
    padding-left: 70px;
    margin-top: 150px;
}

/* Latest work start  */

.work{
    background: url(../images/latest-work-bg.png) no-repeat center;
    background-size: cover;
}

.work-text{
    text-align: center;
    margin-bottom: 70px;
    color: #000;
}

.image-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around ;

}
.image-group img{
    width: 100%;
    max-width: 32%;
}

/* Footer start  */
footer{
    background: url(../images/footer-bg.png) no-repeat center;
    background-size: cover;
}
footer .work-text .text span{
    color: #838383;
    display: block;
    font-size: 1.0rem;
    font-weight: 400;
}

footer .work-text .text{
    margin-bottom: 0;
}
footer .work-text blockquote{
    color: #5e5e5e; 
    margin-bottom: 25px;   
}

footer .work-text .contact span{
    color: #838383;
    display: block;
    font-size: .8rem;
    line-height: 1.5rem;
    font-weight: 400;
}
footer .contact{
    background-image: linear-gradient(90deg,#EC4F91,#EC4B74);
    width: 350px;
    margin: auto;
    padding: 15px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
footer .work-text .contact span{
    color: #f5f5f5;
    display: block;
    font-size: .8rem;
    line-height: 1.5rem;
    font-weight: 400;
}
footer .work-text .contact a{
    color: #f5f5f5;
    font-size: 1.2rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-decoration: none;
}











@media only screen and (max-width: 767px) {
 
  }









